<?xml version="1.0"?>
<configuration>
	<!-- create a copy of this file, rename to app.config, and fill out accordingly.  DO NOT CHECK THE APP.CONFIG IN! (it's ignored) -->
	<appSettings>
		<add key="OffsetFromEasternTime" value="-1"/>
		<add key="RedditUser" value=""/>
		<add key="RedditPassword" value=""/>
		<add key="Sports" value="Hockey,Basketball"/>
		<add key="Hockey" value="http://208.92.36.37/nlds/get_games_lte3.php?client=nhl"/>
		<add key="Basketball" value="http://208.92.36.37/nlds/get_games_lte3.php?client=nba"/>
		
	</appSettings>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
